# =========必须========

# VAPID 密钥可通过 pnpm run generate-vapid 生成
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# 推送 API 认证令牌（不设置则关闭认证）
PUSH_TOKEN=

# 访问kv函数的token
KV_API_KEY=

# =========可选========

# 背景图片 URL（可选）
VITE_BG_URL=

# API 地址（可选，默认为当前域名）
VITE_API_URL=

# 邮箱（默认admin@magicpush.com）
EMAIL=

# 用户白名单（随机字符串，英文逗号分隔，不设置则允许任何人订阅）
ALLOWED_USERS=

